# Built artifacts
build/
app/build/
*.apk
*.aar
*.jar
game-wasm/target/

# Gradle files
.gradle/
/local.properties

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# OS/System files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
